@model List<F2_201801351.Models.ProductoModel>
@{
    ViewBag.Title = "Saldos";
}

<fieldset>
    <legend>
        Seleccione su producto para Saldos
    </legend>
    <div class="col-md-12">
         <table class="table table-bordered table-responsive table-hover">
             <tr>
                 <th>Id</th>
                 <th>Codigo</th>
                 <th>Codigo De Barra</th>
                 <th>Nombre</th>
                 <th>Descripcion</th>
                 <th>Clasificacion</th>
                 <th>Presentacion</th>
                 <th>Opcion</th>
             </tr>
             @foreach (var m in Model)
             { 
         <tr>
             <td>@m.id</td>
             <td>@m.codigo</td>
             <td>@m.codigoBarra</td>
             <td>@m.nombre</td>
             <td>@m.descripcion</td>
             <td>@m.clasificacion</td>
             <td>@m.presentacion</td>
             <td>
                 <a class="btn btn-success" href="~/Costos/AddSaldos/@m.id">Agregar</a>
             </td>
         </tr>
             
             }
         </table>
     </div>

</fieldset>

